.btnbox{
	
	padding:10px 20px;
	background-color:$orange;
	color:white;

	
		
		&-link{
		text-decoration:none;
	
		}
			&-link:hover{
		text-decoration:none;
	
		}
	
	
	&-octoBtn{
		width:180px;
			font-size:1.3rem;
			transform:translateY(50%);
			
	@include octoBtn-medium;
	@include octoBtn-large;
	}


	&-register{
		text-align:center;
		width:auto;
	}
	
}