.header{
	background-color:#0A274A;
	height:80px;
	&-logo{
		height:50px;
		width:100px;
		&-img{
			margin-top:17px;
			height:50px;
			width:75px;
			
		}
	}
	&-links{
		float:right;
		ul{
			margin:0; 
			padding:0;
		}
		li{
			list-style-type:none;
			display:table-cell;
			vertical-align:middle;
			width:30%;
			
		
			
		}
		a{
			color:white;
			margin-right:20px;
		}
		a:hover{
			color:blue;
			text-decoration:none;
		}
		&-orange{
			
		text-align:center;
	;
			
		}
	}
	&-smallscreen{
		display:none;
		@include header-links;
	}
	&-small-navBar{
	float:right;
	position:absolute;
	top:30px;
	right:20px;
	background-color:white;
	width:30px; 
	height:30px;
@include smallMenu;
	}

}