.navBar-large{
	
	
	@include navBar;
	ul{
	
		padding:0;
		text-align:left;
		margin:0;
	}
	li{		
	
			list-style-type:none;
			margin:0;
			width:250px;
			border-right:1px solid lightgray;
			display:table-cell;
			padding:7px 0 15px 7px;
			border-bottom:1px solid black;
			
			
			
			
			
			
			vertical-align:middle;
	}
	li:hover{
		border-top:3px solid $orange;
		padding-top:4px;
		border-bottom:1px solid white;
		padding-bottom:14px;
	
		
		
		
	}
	a{
		font-weight:bold;
		color:black;
		height:25px;
	
		font-size:14px;
		line-height:17px;
		text-decoration:none;		
	}
	 ul li .wrapper{
		display:none; 
		 height:400px;
		 width:100%;
		 background-color:white;
		 position:absolute; 
		 left:0;
		 top:121px;
		 z-index:1;
		 margin:0;
		 padding:0;
		 
		 
		 
		 
		 
	 }
	 ul li:hover .wrapper{
		 display:block;
	 }


	

&-collum-list{
		margin-top:10px;
		
		ul{
			margin:0;
			padding:0;
		}
		li{
			float:left;
			border:none;
			
		}
		li:hover {
			border:none;
			padding-top:7px;
			
		}
		a{
			font-weight:100;
			font-size:1.7rem;
			color:gray;
		}
		
	}
	&-submenu{
	
	&-img{
height:auto;
max-width:30.3%;

margin-top:20px;
margin-left:20px;
@include smallDropDown;
		
	
	}	
		
	}	
	


	
			
	
	
}